<%= link_to user_path(user) do %>
  <li class="mb-4 flex items-center gap-10 dark:bg-slate-800 bg-slate-100 rounded-xl rounded-tl-[75px] rounded-bl-[75px]">
    <%= image_tag user.photo, alt: "#{user.name}-avatar", class: "w-36 h-36 object-cover object-center rounded-[50%]" %>

    <div class="mr-6 w-10/12 flex justify-between h-[80px]">
      <span class="text-2xl ml-2">
        <%= user.name %>
      </span>
      <span class="self-end mr-2">
        Number of posts: <%= user.posts_counter %>
      </span>
    </div>
  </li>
<% end %>
