<section>
  <% if current_user %>
        <h2 class="mt-3">Welcome <%= current_user.name %></h2>
  <% end %>

  <ul>
    <% @users.each do |user| %>
      <%= render "user", user: user %>
    <% end %>
  </ul>
</section>
