<%# Post %>
<%= render "post", post: @post %>

<div class="pr-2 pl-2 pt-1 mt-4 border-2 border-gray-500">
  <%# Comments form %>
  <%= render "comments/comment" %>

  <%# List of comments %>
  <% @post.comments_list.each do |comment| %>
    <p class="pl-2">
      <span><strong><%= comment.author.name %>:</strong></span>
      <span><%= comment.text %></span>
    </p>
  <% end %>
  <br>
<div>
